

@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm())
{
    <a class="" asp-area="" asp-controller="Home" asp-action="Registration">Registration</a>
}


<style>
    body {
        background-image: url('../../GCMainPage.png');
        background-size: cover;
    }
</style>