
@{
    ViewData["Title"] = "UserData";
}

<h1>List Items</h1>

@model IEnumerable<CoffeeShop.Models.LoginInfo>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Passwrod</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Password</td>
            <td>@Html.ActionLink("Add to Cart", "AddItemToCart", "Payment", user)</td>
        </tr>
    }

</table>